.DS_Store
*.pyc
*.log
*.swp
*.retry
.env
.idea
.vscode
*~
/logs
/data
.~*
common/CACHE
webaup/settings/local.py
webaupdb
node_modules
venv
ipacms
.venv
.ipacms
__pycache__
.vagrant/
/.vagrant/
/Vagrantfile.local
!.gitignore
