{% extends "base.html" %}
{% load leaflet_tags %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}
    <div class="homepage">
        
        {% image page.image fill-1920x600 as image %}
        <div class="container-fluid hero" style="background-image:url('{{ image.url }}')">
            <div class="hero-gradient-mask"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-1 col-lg-5 home-hero">
                        <h1>{{ page.title }}</h1>
                        <p class="lead">{{ page.hero_text }}</p>
                        {% if page.hero_cta_link %}
                            <a href="{% pageurl page.hero_cta_link %}" class="hero-cta-link">
                                {{ page.hero_cta }}
                            </a>
                        {% else %}
                            {{ page.hero_cta }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row promo-row">
                <div class="featured-cards col-sm-5 col-sm-offset-1">
                    {% if page.featured_section_1 %}
                        <h2 class="featured-cards__title">{{ page.featured_section_1_title }}</h2>
                        <ul class="featured-cards__list">
                            {% for childpage in page.featured_section_1.specific.children|slice:"3" %}
                                <li>
                                    {% include "includes/card/listing-card.html" with page=childpage %}
                                </li>
                            {% endfor %}
                        </ul>
                        <a class="featured-cards__link" href="/produtos">
                            <span>Veja mais produtos</span>
                            {% include "includes/chevron-icon.html" with class="featured-cards__chevron-icon" %}
                        </a>
                    {% endif %}
                </div>

               

                <div class="col-sm-6 promo">
                    {% if page.promo_image or page.promo_title or page.promo_text %}
                        <div class="col-lg-10 promo-text">
                            {% if page.promo_title %}
                                <h2>{{ page.promo_title }}</h2>
                            {% endif %}
                            {% if page.promo_text %}
                                {{ page.promo_text|richtext }}
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if page.promo_image %}
                        <figure>{% image page.promo_image fill-590x413-c100 %}</figure>
                    {% endif %}
                </div>
            </div>
        </div>
        

             
        <div class="container">
            <div class="row">
            <div class="col-md-12 locations-section">
                
                {% if page.featured_section_2 %}
               
                     <h2 class="locations-section__title">{{ page.featured_section_2_title }}</h2>
                     <div class="leaflet-container">
                        
                        <script>
                            function map_init_basic(map, options) {
                                var newIcon = L.icon({
                                    iconUrl: '/static/img/legumes.png',
                                    iconSize: [28, 28],
                                    iconAnchor: [22, 22],
                                });
                                var paulistaMarker = L.marker([-7.937980684863552, -34.877658401127235], { icon: newIcon }).addTo(map);
                                paulistaMarker.on('mouseover', function() {
                                    paulistaMarker.bindTooltip("<b>Paulista</b>").openTooltip();
                                });
                        
                                paulistaMarker.on('click', function() {
                                    window.location.href = 'locations/paulista';
                                });
                                
                                var aracoiabaMarker = L.marker([-7.789138019262623, -35.09218464591248], {icon: newIcon}).addTo(map);
                                aracoiabaMarker.on('mouseover', function(){
                                    aracoiabaMarker.bindTooltip("<b>Araçoiaba</b>").openTooltip();
                                });
                                
                                aracoiabaMarker.on('click', function(){
                                    window.location.href = 'locations/aracoiaba'                               
                                });

                                var abreuMarker = L.marker([-7.9065512704756085, -34.90171416930324], {icon: newIcon}).addTo(map);
                                abreuMarker.on('mouseover', function(){
                                    abreuMarker.bindTooltip("<b>Abreu e Lima</b>").openTooltip();
                                });

                                abreuMarker.on('click', function(){
                                    window.location.href = 'locations/abreu-e-lima'
                                });

                                var caboMarker = L.marker([-8.286382458980146, -35.03800221581159], {icon: newIcon}).addTo(map);
                                caboMarker.on('mouseover', function(){
                                    caboMarker.bindTooltip("<b>Cabo de Santo Agostinho</b>").openTooltip();
                                });

                                caboMarker.on('click', function(){
                                    window.location.href = 'locations/cabo-de-santo-agostinho'
                                });

                                var camaragibeMarker = L.marker([-8.019225210232692, -34.976781717352885], {icon: newIcon}).addTo(map);
                                camaragibeMarker.on('mouseover', function(){
                                    camaragibeMarker.bindTooltip("<b>Camaragibe</b>").openTooltip();
                                });

                                camaragibeMarker.on('click', function(){
                                    window.location.href = 'locations/camaragibe'
                                });

                                var igarassuMarker = L.marker([-7.852650513917349, -34.90928562372254], {icon: newIcon}).addTo(map)
                                igarassuMarker.on('mouseover', function(){
                                    igarassuMarker.bindTooltip("<b>Igarassu</b>")
                                });
                                
                                igarassuMarker.on('click', function(){
                                    window.location.href = 'locations/igarassu'
                                });

                                var ipojucaMarker = L.marker([-8.398291887472995, -35.061295907102], {icon: newIcon}).addTo(map)
                                ipojucaMarker.on('mouseover', function(){
                                    ipojucaMarker.bindTooltip("<b>Ipojuca</b>")
                                });

                                ipojucaMarker.on('click', function(){
                                    window.location.href = 'locations/ipojuca'
                                });

                                var itamaracaMarker = L.marker([-7.733605663405219, -34.82586290354762], {icon: newIcon}).addTo(map)
                                itamaracaMarker.on('mouseover', function(){
                                    itamaracaMarker.bindTooltip("<b>Ilha de Itamaracá</b>")
                                });

                                itamaracaMarker.on('click', function(){
                                    window.location.href = 'locations/ilha-de-itamaraca'
                                });

                                var itapissumaMarker = L.marker([-7.775944093170436, -34.899513172135], {icon: newIcon}).addTo(map)
                                itapissumaMarker.on('mouseover', function(){
                                    itapissumaMarker.bindTooltip("<b>Itapissuma</b>")
                                });

                                itapissumaMarker.on('click', function(){
                                    window.location.href = 'locations/itapissuma'
                                });

                                var jaboataoMarker = L.marker([-8.125963100030882, -34.923699419684795], {icon: newIcon}).addTo(map)
                                jaboataoMarker.on('mouseover', function(){
                                    jaboataoMarker.bindTooltip("<b>Jaboatão dos Guararapes</b>")
                                });

                                jaboataoMarker.on('click', function(){
                                    window.location.href = 'locations/jaboatao-dos-guararapes'
                                });

                                var morenoMarker = L.marker([-8.118578972958462, -35.10131209537802], {icon: newIcon}).addTo(map)
                                morenoMarker.on('mouseover', function(){
                                    morenoMarker.bindTooltip("<b>Moreno</b>")
                                });

                                morenoMarker.on('click', function(){
                                    window.location.href = 'locations/moreno'
                                });

                                var olindaMarker = L.marker([-8.013997488019859, -34.8495795121376], {icon: newIcon}).addTo(map)
                                olindaMarker.on('mouseover', function(){
                                    olindaMarker.bindTooltip("<b>Olinda</b>")
                                });

                                olindaMarker.on('click', function(){
                                    window.location.href = 'locations/olinda'
                                });

                                var recifeMarker = L.marker([-8.053351660945166, -34.87151719155182], {icon: newIcon}).addTo(map)
                                recifeMarker.on('mouseover', function(){
                                    recifeMarker.bindTooltip("<b>Recife</b>")
                                });

                                recifeMarker.on('click', function(){
                                    window.location.href = 'locations/recife'
                                });

                                var saoLourencoMarker =  L.marker([-8.005572724653923, -35.024520114304046], {icon: newIcon}).addTo(map)
                                saoLourencoMarker.on('mouseover', function(){
                                    saoLourencoMarker.bindTooltip("<b>São Lourenço da Mata</b>")
                                });

                                saoLourencoMarker.on('click', function(){
                                    window.href.location = 'locations/sao-lourenco-da-mata'
                                });

                            }
                        </script>
                        
                        
                        {% leaflet_map "mapaPrincipal" callback="window.map_init_basic" %}
                        </div>   
                        
                        {% for childpage in page.featured_section_2.specific.children|slice:"3" %}
                            {% include "includes/card/location-card.html" with page=childpage %}
                            {% endfor %}
                        
                     {% endif %}
                     
                     
                </div>
                    </div>
                
        </div>

        {% if page.featured_section_3 %}
            <div class="blog-section__background">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 blog-section">
                            <h2 class="blog-section__title">{{ page.featured_section_3_title }}</h2>
                            <div class="blog-section__grid">
                                {% for childpage in page.featured_section_3.specific.children|slice:"6" %}
                                    {% include "includes/card/picture-card.html" with page=childpage portrait=True %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
