{% load navigation_tags static %}

<footer class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li class="footer__icon">
                    <a href="https://site.ipa.br" target="_blank" rel="noreferrer" aria-label="Instituto Agronômico de Pernambuco">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
            </ul>
            {% get_footer_text %}
        </div>
    </div>
</footer>
